spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: QuizIt

  datasource:
    url: ${DB_URL}
    username: postgres
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jvm:
    arguments: --add-opens=java.base/sun.misc=ALL-UNNAMED
server:
  port: 3000

# JVM args (NOTE: this is usually NOT read from application.yml)

